.practice__tan {
  position: relative;
  background-color: #55bbbb;
  width: 200px;
  display: block;
  padding: 18px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  margin: 100px auto;
}

.practice__tan::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 20px;
  left: 15px;
  background: url(../img/mail.svg) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  transform: translateY(-15px);
}

.practice__tan::after{
  content: "";
  position: absolute;
  top: 50%;
  height: 20px;
  right: 15px;
  background: url(../img/download__icon.svg) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  transform: translateY(-20px);
}